<p id="notice"><%= notice %></p>

<h4>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h4>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h3>Reviews:</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= "Rating: #{review.rating}" %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path, class: "btn btn-warning" %>
<%= link_to 'Add new Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
